soap-client/src/wsdl/localhost_8080/PersonService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://standalone.soap.tikhoa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://standalone.soap.tikhoa.com/">

<xs:element name="IllegalNameException" nillable="true" type="tns:personServiceFault"></xs:element>

<xs:element name="deletePerson" type="tns:deletePerson"></xs:element>

<xs:element name="deletePersonResponse" type="tns:deletePersonResponse"></xs:element>

<xs:element name="getId" type="tns:getId"></xs:element>

<xs:element name="getIdResponse" type="tns:getIdResponse"></xs:element>

<xs:element name="getPersons" type="tns:getPersons"></xs:element>

<xs:element name="getPersonsByParameters" type="tns:getPersonsByParameters"></xs:element>

<xs:element name="getPersonsByParametersResponse" type="tns:getPersonsByParametersResponse"></xs:element>

<xs:element name="getPersonsResponse" type="tns:getPersonsResponse"></xs:element>

<xs:element name="insertPerson" type="tns:insertPerson"></xs:element>

<xs:element name="insertPersonResponse" type="tns:insertPersonResponse"></xs:element>

<xs:element name="updatePerson" type="tns:updatePerson"></xs:element>

<xs:element name="updatePersonResponse" type="tns:updatePersonResponse"></xs:element>

<xs:complexType name="deletePerson">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePersonResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonsByParameters">
<xs:sequence>
<xs:element name="personName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="personSurname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="personAge" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="personIsEmployee" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="personContactDate" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonsByParametersResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="age" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="contactDate" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="isEmployee" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="surname" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personServiceFault">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersons">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonsResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getId">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertPerson">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertPersonResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePerson">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePersonResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>