soap-client/src/wsdl/localhost_8080/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://standalone.soap.tikhoa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://standalone.soap.tikhoa.com/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://standalone.soap.tikhoa.com/" schemaLocation="http://localhost:8080/PersonService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getPersons">
<part name="parameters" element="tns:getPersons"></part>
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse"></part>
</message>
<message name="AuthException">
<part name="fault" element="tns:AuthException"></part>
</message>
<message name="insertPerson">
<part name="parameters" element="tns:insertPerson"></part>
</message>
<message name="insertPersonResponse">
<part name="parameters" element="tns:insertPersonResponse"></part>
</message>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson"></part>
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse"></part>
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"></part>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"></part>
</message>
<message name="getPersonsByParameters">
<part name="parameters" element="tns:getPersonsByParameters"></part>
</message>
<message name="getPersonsByParametersResponse">
<part name="parameters" element="tns:getPersonsByParametersResponse"></part>
</message>
<message name="IllegalNameException">
<part name="fault" element="tns:IllegalNameException"></part>
</message>
<message name="getId">
<part name="parameters" element="tns:getId"></part>
</message>
<message name="getIdResponse">
<part name="parameters" element="tns:getIdResponse"></part>
</message>
<portType name="PersonWebService">
<operation name="getPersons">
<input wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/getPersonsRequest" message="tns:getPersons"></input>
<output wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/getPersonsResponse" message="tns:getPersonsResponse"></output>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/getPersons/Fault/AuthException"></fault>
</operation>
<operation name="insertPerson">
<input wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/insertPersonRequest" message="tns:insertPerson"></input>
<output wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/insertPersonResponse" message="tns:insertPersonResponse"></output>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/insertPerson/Fault/AuthException"></fault>
</operation>
<operation name="updatePerson">
<input wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/updatePersonRequest" message="tns:updatePerson"></input>
<output wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/updatePersonResponse" message="tns:updatePersonResponse"></output>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/updatePerson/Fault/AuthException"></fault>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/deletePersonRequest" message="tns:deletePerson"></input>
<output wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/deletePersonResponse" message="tns:deletePersonResponse"></output>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/deletePerson/Fault/AuthException"></fault>
</operation>
<operation name="getPersonsByParameters">
<input wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/getPersonsByParametersRequest" message="tns:getPersonsByParameters"></input>
<output wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/getPersonsByParametersResponse" message="tns:getPersonsByParametersResponse"></output>
<fault message="tns:IllegalNameException" name="IllegalNameException" wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/getPersonsByParameters/Fault/IllegalNameException"></fault>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/getPersonsByParameters/Fault/AuthException"></fault>
</operation>
<operation name="getId">
<input wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/getIdRequest" message="tns:getId"></input>
<output wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/getIdResponse" message="tns:getIdResponse"></output>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://standalone.soap.tikhoa.com/PersonWebService/getId/Fault/AuthException"></fault>
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getPersons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="insertPerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updatePerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getPersonsByParameters">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalNameException">
<soap:fault name="IllegalNameException" use="literal"></soap:fault>
</fault>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService"></soap:address>
</port>
</service>
</definitions>